<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Recommender</title>
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link href="../static/styles/signup.css" rel="stylesheet">
    <script src="../static/script/jquery-1.11.2.js"></script>
    <script src="../static/script/modal_home.js"></script>

  </head>
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="./">Home</a></li>
          </ul>
        </nav>
      </div>
 
      <!-- <div class="jumbotron">
        <h1>Choose</h1>
        <button id="goSignUp" class="button btn btn-lg btn-primary btn-block" a href="./signup.html"  type="button">Sign up</button>
        <button id="goSignIn" class="button btn btn-lg btn-primary btn-block" a href="./signin.html"  type="button">Sign in</button>
      </div> -->
      <footer class="footer">
        <p>&copy; This is user home {{name}}</p>
      </footer>
 
    </div>
  </body>
</html>