<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Recommender</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/styles/signup.css" rel="stylesheet">
    <script src="../static/script/jquery-1.11.2.js"></script>
    <script src="../static/script/modal_update_user.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Movie Recommender</h1>
        <button type="button" id="btnGoHome" data-source="{{name}}">Return Home</button>
        <form class="form-signin">
        <label for="inputName" class="sr-only">User Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
         
        <button id="btnConfirmUserUpdate" class="btn btn-lg btn-primary btn-block" type="button">Update Information</button>
      </form>
      </div>
 
    </div>
  </body>
</html>