<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Watched</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/styles/signup.css" rel="stylesheet">
    <script src="../static/script/jquery-1.11.2.js"></script>
    <script src="../static/script/modal_watched.js"></script>
  </head>
  <body>
      <div class="jumbotron">
        <h1>Movie Recommender</h1>
        <form class="form-signin">username</label>
        <input type="name" name="inputUsername" id="username" class="form-control" placeholder="username" required autofocus>
        <form class="form-signin">List of watched movies</label>
        <input type="name" name="inputMovies" id="listOfMovies" class="form-control" placeholder="comma no space separated" required autofocus>
        <label for="inputMovieImpression" class="sr-only">movie impressions</label>
        <input type="name" name="inputMovieImpressions" id="inputMovieImpressions" class="form-control" placeholder="List of impressions" required>
        <label for="inputTvShows" class="sr-only">List of watched tv shows</label>
        <input type="DOB" name="inputTvShows" id="listOfTvShows" class="form-control" placeholder="comma no space separated" required autofocus>
        <label for="inputTvImpression" class="sr-only">tv show impressions</label>
        <input type="name" name="inputTvShowImpressions" id="inputTvImpression" class="form-control" placeholder="List of impressions" required>
         
        <button id="btnSubmit" class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
      </form>
      </div>
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>